/* font family setup here */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* nav design section here */
nav{
    display: flex;
}

.nav-feature{
 
  margin: 0 auto;
}

.nav-feature ul {
  display: flex;
  list-style: none;
  margin: 32px;
  gap: 32px;
}
.logo{
    max-width: 139px;
    margin: 16px ;
    margin-left: 120px;
}

.btn{
  max-height: 44px;
  padding-right: 120px;
  margin: 24px;
  
}
button{
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #469165;
  padding: 12.5px 16px;
  border-radius: 5px;
}
/* hero section design start here */
.banner{
  max-width: 1600px;
  height: 674px;
  background-image: url(../assets/hero-bg.png);
  
  
}