/* font family setup here */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* nav design section here */
header{
  padding-top: 21px;
}

nav{
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
  margin: 0 auto;
  
  
}

nav .title{
  margin: 0 auto;
}
nav div{
  display: flex;
  align-items: center;
  
  
}
nav li{
  list-style-type: none;
  display: flex;
}

nav div ul li .btn{
  background-color: #469165;
  border: none;
  padding: 12.5px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  
}


/* hero section design start here */
.hero{ 
  background-image: url(../assets/hero-bg.png);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.hero-content {
  max-width: 900px;
  padding: 20px;
  
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  color: #469165;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
}

.badge .dot {
  width: 8px;
  height: 8px;
  background: #2f8f5b;
  border-radius: 50%;
}

.hero h1 {
  font-size: 69px;
  color: #FFFFFF;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #30B868;
  font-size: 72px;
}

.hero p {
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 750px;
  margin: 0 auto 36px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 179px;
}

.btn-primary {
  padding: 14px 28px;
  background: #469165;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}

.btn-outline {
  padding: 14px 28px;
  background: transparent;
  color: #FFFFFF;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}


/* Notes Section are design start here */

.notes-section {
  color: #001931;
  padding: 100px 20px;
}

.notes-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.notes-container h2 {
  font-size: 48px;
  font-weight: 800;
  color: #001931;
  margin-bottom: 16px;
}

.subtitle {
  color: #627382;
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto 60px;
}

.cards {
  display: flex;
  gap: 24px;
  box-shadow: 0 25px 60px rgba(255, 255, 255, 0.15);
}

.card {
  background: #ffffff;
  color: #0b2c4d;
  padding: 40px 28px;
  border-radius: 12px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon {
  width: 56px;
  height: 56px;
  background: #F95555;
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  margin: 0 auto 24px;
}

.card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.card p {
  font-size: 16px;
  line-height: 15px;
  color: #627382;
}

/* Solution section are start here */
.solution-section {
  padding: 80px 24px;
}

.solution-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 60px;
  margin-top: 120px;
  
}

.solution-image img {
  width: 100%;
  height: 600px;
}

.solution-content .head {
  padding-top: 102px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #469165;
}

.solution-content h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}

.solution-content .description {
  font-size: 18px;
  line-height: 25px;
  color: #627382;
  margin-bottom: 40px;
  max-width: 700px;
}

.style {
  list-style: none;
  padding: 0;
}

.style li {
  position: relative;
  padding-left: 32px; 
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  color: #001931;
}

.style li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/CheckCircle.png");
}


/* Early Section design start here */


.early-section {
  padding: 80px 20px;
}

.early-container {
  max-width: 1100px;
  margin: 0 auto;
  background: #F7F6F2;
  padding: 72px 24px;
  text-align: center;
}


.early-container h2 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}


.early-details {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin-bottom: 24px;
}


.early-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #469165;
  color: #FFFFFF;
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}

.right-arrow{
  margin-top: 9px;
  max-width: 15.63;
  max-height: 13.13;
}

.note{
  max-width: 1280px;
  max-height: 20px;
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  padding-bottom: 80px;
}

/* Footer section are design start here */


.footer {
  background: #001931;
  color: #ffffff;
  padding: 40px 60px 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  max-width: 139px;
  max-height: 60px;
}


.footer-social {
  text-align: right;
}

.footer-social h4 {
  margin-bottom: 10px;
  font-weight: 500;
}

.social-icons a {
  color: #ffffff;
  margin-left: 12px;
  font-size: 16px;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #FFFFFF;
}

.footer-divider {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 30px 0 15px;
}

.footer-bottom {
  color: #FAFAFA;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  padding-bottom: 30px;
}